.underBackGround{
    -fx-background-image: url("/resources/backgrounds/battlePlane.png");

    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

