.mainPane{
    -fx-alignment: center;
}

.upperLabel_atFirst{

}



.downerLabel_higher{
    -fx-border-width: 4;
}
.downerLabel_lower{
    -fx-border-width: 0;
}

.downerLabel_atFirst {
    -fx-border-radius: 5;
    -fx-border-color: blue;
    -fx-background-radius: 5;
}
.downerLabel_white{
    -fx-opacity: 0.2;
    -fx-background-color: white;
}
.downerLabel_red{
    -fx-opacity: 0.2;
    -fx-background-color: red;
}
.downerLabel_yellow{
    -fx-opacity: 0.2;
    -fx-background-color: yellow;
}
.downerLabel_blue{
    -fx-background-color: blue;
}
.downerLabel_green{
    -fx-opacity: 0.2;
    -fx-background-color: green;
}

.lbl_health{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-fill: green;
}
.lbl_attackPower{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-fill: red;
}
