.underBackGround{
    -fx-background-image: url("/resources/backgrounds/battlePlane.png");

    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}
.lbl_cell{
    -fx-background-color: #d73521;
    -fx-font-size: 20px;
    -fx-fill:white;
}
.cardImageViewerHigher{
    -fx-border-color: white;
    -fx-border-width: 10;
}
.cardImageViewerLower{


}
.cardSceneHigher{
    -fx-background-color: red;
}
.lbl_manaNumber{
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-fill: green;
}
.lbl_greenCell{
    -fx-background-color: green;
}
.lbl_yellowCell{
    -fx-background-color: yellow;
}
.lbl_redCell{
    -fx-background-color: red;
}
.lbl_normalCell{
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: yellow;
    -fx-opacity: 0.4;
}
.lbl_higherCell{
    -fx-border-width: 5;
    -fx-border-radius: 5;
    -fx-border-color: yellow;
}
.lbl_lowerCell {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: yellow;
}
.lbl_upperLabel{
    -fx-opacity: 0;
}


