.underBackGround{
    -fx-background-image: url("/resources/backgrounds/battlePlane.png");

    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}
.lbl_cell{
    -fx-background-color: #d73521;
    -fx-font-size: 20px;
    -fx-fill:white;
}
.cardImageViewerHigher{
    -fx-border-color: white;
    -fx-border-width: 10;
}
.cardImageViewerLower{


}


