.mainPage {
    -fx-background-image: url("/resources/background2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.menuName {
    -fx-padding: 20 0 0 20;
    -fx-font-size: 45px;
    -fx-font-family: Bahnschrift;
    -fx-text-fill: white;
}