.left-tab {
    -fx-background-image: url("../../resources/backgrounds/shopBackground.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 500 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.button {
    -fx-background-color: #d73521;
    -fx-font-size: 20px;
}
