.mainPage {
    -fx-background-image: url("/resources/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.tabContainer {
    -fx-pref-width: 500;
    -fx-max-width: 500;
    -fx-pref-height: 500;
    -fx-max-height: 500;
}

.tab-header-area {
    -fx-padding: 0 -150 0 150;
    -fx-background-color: transparent;
}


.tabContainer > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 50.0;
    -fx-text-fill: -fx-text-base-color;
}

.duelystTabName .tab-label {
    -fx-text-alignment: center;
    -fx-font-size: 25px;
    -fx-background-color: #292929;
    -fx-text-fill: #f1e4ab;
    -fx-alignment: CENTER;
}

.duelystTab {
    /*-fx-pref-height: 500px;*/
    /*-fx-pref-width: 300px;*/
    /*-fx-padding: 0 0 0 0;*/
    -fx-alignment: center;
    -fx-background-color: #292929;
}

.regularButton {

}